<div class="flex flex-col relative min-h-screen w-full mb-12">
  <app-dashboard-navbar class="sticky top-0 z-50 w-full bg-white"></app-dashboard-navbar>
  <div *ngIf="showItemForm || showAuctionForm" class="fixed backdrop-blur min-w-full min-h-full z-20 bg-transdark"></div>
  <app-item-form class="absolute z-30 h-full pt-8 top-0 left-0 right-0 mx-auto " 
    (cancel)="hideAllForms()" (savedItemComplete)="setSavedItem($event)" *ngIf="showItemForm">
  </app-item-form>
  <app-auction-form class="absolute z-30 h-full  pt-8 top-0 left-0 right-0 mx-auto"  
    [itemToAuction]="savedItem" (setToFalse)="hideAllForms()" *ngIf="showAuctionForm">
  </app-auction-form>

  <!-- Welcome message and secondary button -->
  <div *ngIf="name; else loading_welcome" class="flex flex-col p-4 gap-4 sm:flex-row justify-between sm:p-12">      
      <h1 class="tracking-tighter text-2xl lg:text-4xl">Welcome, {{name}}!</h1>
      <app-secondary-button class="hidden sm:block" (click)="revealItemForm()" [disableButton]="false" [buttonText]="'List an item'"></app-secondary-button>
  </div>

  <ng-template #loading_welcome>
    <div class="flex flex-col p-4 gap-4 sm:flex-row justify-between sm:p-12 ">      
      <h1 class="text-2xl lg:text-4xl rounded-md bg-loading-grey text-loading-grey animate-pulse">Welcome, Dummy Name!</h1>
      <div class="hidden sm:block h-10 rounded-md bg-loading-grey w-32 animate-pulse"></div>
    </div>
  </ng-template>

  <router-outlet></router-outlet>

</div>
<lib-toastify-toast-container></lib-toastify-toast-container>