<!-- PENDING BIDS POP -->
<div class="bg-white flex flex-row rounded-lg z-40">
  <img src="../../../assets/images/auction-icon.png" alt="auction-icon" />

  <div class="mt-8 mr-8">
    <p class="text text-xl">Oops. You’ve got some pending bids</p>
    <p>Are you sure you want to delete?</p>
    <div class="space-x-1">
      <button
        (click)="cancel()"
        class="hover:bg-green bg-black text-white py-2 px-4 my-2 rounded-full"
      >
        Cancel
      </button>

      <button
        (click)="deleteItem()"
        class="hover:bg-green bg-black text-white py-2 px-4 my-2 rounded-full"
      >
        Delete
      </button>
    </div>
  </div>
</div>
