<div class="container">
    <div class="logo-container">
        <h1><span>tt</span><span class="secondary-color">Bay</span></h1>
        <img class="login-button" src="../../../assets/images/btn_google_signin_light_normal_web@2x.png" alt="google sign in">
    </div>
    <ul class="list-items">
        <li>Creating a safe way for Turntablrs to offload equipment within the organization</li>
        <li>List an item to auction</li>
        <li>Sell to the highest bidder</li>
        <li>Keep the environment safe by create a cycle of reuse</li>
    </ul>
</div>