<div class="flex justify-center items-center p-4 min-h-screen">
    <div class="flex flex-col gap-16 justify-center items-center md:mb-12 md:flex-row">
        <div class="flex flex-col gap-6 items-center">
            <h1 class="text-8xl font-bold">
                <span class="">tt</span>
                <span class="text-green">Bay</span>
            </h1>
            <img (click)="login()" class="routerLink=[] w-[160px] rounded-sm hover:drop-shadow-md hover:outline outline-green outline-1 hover:cursor-pointer" src="../../../assets/images/btn_google_signin_light_normal_web@2x.png" alt="google sign in">
        </div>
        <div class="w-[300px]">
            <ul class="flex flex-col gap-2 text-grey">
                <li class="border-2 border-lightgrey p-2 rounded-md">Creating a safe way for Turntablrs to offload equipment within the organization</li>
                <li class="border-2 border-lightgrey p-2 rounded-md">List an item to auction</li>
                <li class="border-2 border-lightgrey p-2 rounded-md">Sell to the highest bidder</li>
                <li class="border-2 border-lightgrey p-2 rounded-md">Keep the environment safe by create a cycle of reuse</li>
            </ul>
        </div>
    </div>
</div>
