<div class="flex flex-col text-lg gap-6 w-[90%] max-w-[450px] border border-lightgrey bg-white shadow-sm mx-auto my-6 p-4 rounded-md">
    <h1 class="text-2xl font-semibold self-center pb-2 border-b">Getting ready to auction</h1>
    <section class="flex items-center gap-2 p-3 rounded-md h-[120px] bg-lightgrey">
        <img class="w-[100px] h-[100px] rounded-md bg-black inline-block" src="#" alt="">
        <span class="">Item title</span>
    </section>
    <section >
        <form class="flex flex-col gap-6" [formGroup]="auctionForm">
            <!-- Price -->
            <div class="flex flex-row justify-between items-center">
                <label class="" for="price">Name a starting price</label>
                <input class="h-[30px] max-w-[90px] pl-2 border rounded-md" type="number" formControlName="price"> 
            </div>

            <!-- Auction date -->
            <div>
                <label for="start-date">When do you want to start the auction?</label>
                <input class="h-[30px] w-full border pl-2 rounded-md" type="datetime-local" min="" formControlName="startDate">
            </div>

            <!-- Auction duration -->
            <div>
                <label for="duration">How long should the auction last?</label>
                <input class="h-[30px] w-full border pl-2 rounded-md" type="number" min="3" max="15">
            </div>

            <div class="flex gap-4">
                <app-button (click)="scheduleAuction()" [buttonText]="'Schedule'"></app-button>
                <app-button (click)="sendHideEvent()" [buttonText]="'Maybe Later'"></app-button>
            </div>
        </form>
    </section>
</div>

