<div class="z-10 flex h-[50px] bg-white border-b-2 justify-between items-center border-lightgrey drop-shadow-sm">
    <!--Logo-->
    <h1 routerLink="/home" class="text-3xl pl-2 font-bold">
        <span class="">tt</span>
        <span class="text-green">Bay</span>
    </h1>
    <div class="flex pr-2 relative justify-between gap-4 items-center">
        <a class="text-lg" routerLink="">Help</a>
        <!--Menu icon doubles as profile image-->
        <img (click)="toggleMenu()" data-testid="menuIcon" class="w-[32px] h-[32px] rounded-full hover:border-2 hover:border-lightgrey" src="../../../assets/svg/icons/user-tie-solid.svg" alt="avatar">
        <!--Menu items-->
        <ul (click)="toggleMenu()" *ngIf="showMenu" class=" absolute top-[41px] right-0 w-[120px] text-center text-grey rounded-b-md bg-transwhite">
            <li (click)="settings()" class="hover:bg-bg-blue flex items-center justify-between py-1 px-2 border-b-[1px] border-grey">Settings<img class="w-[16x] h-[16px]" src="../../../assets/svg/icons/gears-solid.svg"></li>
            <li routerLink="/profile"  class="hover:bg-bg-blue flex items-center justify-between py-1 px-2 border-b-[1px] border-grey">Profile<img class="w-[16px] h-[16px]" src="../../../assets/svg/icons/id-badge-solid.svg"></li>
            <li data-testid="logoutButton" (click)="logout()" class="hover:bg-bg-blue flex rounded-b-md items-center justify-between py-1 px-2">Sign out<img class="w-[16px] h-[16px]" src="../../../assets/svg/icons/arrow-right-from-bracket-solid.svg"></li>
        </ul>
    </div>
</div>
