<app-navbar class=""></app-navbar>
<app-searchbar class="md:absolute md:min-w-fit md:top-0 md:inset-x-1/4"></app-searchbar>

<div class="flex-col">
    <div class="container mx-auto flex p-2 ">
        <div class="p-2 bg-blue md:absolute md:h-[300px] md:w-[50vw] md:flex md:flex-col md:justify-center md:pl-8">
            <h1 class="text-3xl md:text-5xl font-bold">Today's Prime Auction</h1>
            <p class="md:text-3xl">Office Chair <br /> GHS 1500</p>
            <app-button class="w-[120px] md:w-[160px]" [buttonText]="'Place Bid'"></app-button>
        </div>
        <img class="md:h-[300px]" src="../../../assets/images/ttBay-demo-banner.png" alt="">
    </div>
    <div class="px-10 py-10 mb-24">
        <app-item-list [title]="'Live Auctions'" [items]="liveAuctions"></app-item-list>
    </div>


</div>

    
<!-- footer -->
<!-- <app-footer class="fixed w-full bottom-0"></app-footer> -->

