<div class="mx-6">
    <div *ngIf="bids && bids.length === 0" class="sm:flex-row flex flex-col justify-center items-center">
      <img class="" src="../../../assets/images/no auctions.avif" alt="">
      <p class="text-grey"> You have <span class="text-xl font-semibold">no active bids.</span>   </p>
    </div>
  
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-10">
      <app-bid-card class="" *ngFor="let bid of bids" [auction]="bid.auctionResponseDTO"></app-bid-card>
    </div>
  </div>
  <lib-toastify-toast-container></lib-toastify-toast-container>