<div
  class="relative flex flex-col text-lg gap-6 w-[90%] max-w-[450px] border border-lightgrey bg-white shadow-sm mx-auto my-6 rounded-md"
>
  <section class="mx-8 mb-8">
    <form
      class="flex flex-col gap-4"
      [formGroup]="bidForm"
      (ngSubmit)="makeBid()"
    >
      <!-- Price -->
      <div class="flex flex-col gap-1 mt-8">
        <label class="leading-tight" for="price">Name a your price</label>
        <input
          class="h-[40px] pl-2 border rounded-md"
          type="number"
          formControlName="bidAmount"
        />
        <small
          class="text-xs text-red"
          *ngIf="
            !bidForm.get('bidAmount')!.valid &&
            bidForm.get('bidAmount')!.touched
          "
          >The price should not be less than the current hightest bid and it
          must have two decimal places
        </small>
      </div>
      <div class="flex justify-end gap-8">
        <app-button
          class="mt-4"
          buttonText="Cancel"
          (click)="cancelForm()"
        ></app-button>
        <app-button
          class="mt-4"
          type="submit"
          buttonText="Make Bid"
          [buttonDisabled]="!bidForm.get('bidAmount')!.valid"
        ></app-button>
      </div>
    </form>
  </section>
</div>
<lib-toastify-toast-container></lib-toastify-toast-container>
