<!-- Main modal -->
<div class=" fixed left-0 right-0 z-50  w-full px-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-screen justify-center">
    <div >
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 ">
            <p class="flex justify-end mr-4 mt-4 cursor-pointer" (click) = "closeModal()">x</p>
            
            <div class="flex flex-row justify-center">
                <div class="flex items-center space-x-2 justify-center border-none rounded  pb-6">
                    <input type="text" placeholder="Search anything" class="outline-none focus-border-b border-lightgrey">
                </div>
    
                <img src="../.././../../assets/images/search.gif" alt="" class="h-5 ml-6 mt-1">
            </div>
            
        </div>
    </div>
</div>