<!-- <div class="m-4">
  <img [src]="item.imageUrl" alt="Item Image">
  <h2>{{ item.name }}</h2>
  <p>Gh¢ {{ item.startingPrice }}</p>
</div>
 -->

<div (click)="showItemDetails()" class="w-full max-w-sm bg-white rounded-lg shadow">
  <!-- <div class="relative h-64 w-full"> -->
  <div class="relative aspect-square w-full">
    <!-- <img
      [src]="item.imageUrl"
      alt="Item image"
      class="h-full w-full object-cover rounded-lg"
    /> -->
    <img
      [src]="item.imageList[0].imageUrl"
      alt="Item image"
      class="aspect-square w-full object-cover rounded-lg"
    />
    <div
      class="absolute inset-0 rounded-lg"
      style="mask-image: url(item.imageUrl)"
    ></div>
  </div>

  <div class="px-5 py-4">
    <h5 class="tracking-tight font-semibold text-gray-900 dark:text-white">
      {{ item.name }}
    </h5>

    <div class="flex items-center justify-between">
      <span class="text-black"
        >Condition: {{ item.condition | categoryName }}</span
      >
    </div>
  </div>
</div>
