<app-navbar class="sticky top-0 z-20"></app-navbar>
<div class="flex flex-col items-center p-2 md:mx-auto md:mt-4 lg:flex-row lg:items-start lg:justify-center">
    <h1 class="text-2xl font-bold p-2 bg-black text-white w-11/12 max-w-md rounded-sm lg:absolute lg:top-24 lg:left-28 lg:w-fit lg:rounded-md lg:p-4">Profile Details</h1>
    <div class="w-11/12 flex flex-col items-center lg:w-6/12">
    <!-- Image section -->
        <div class="image-upload w-[150px] h-[150px] rounded-full bg-lightgrey relative my-6">
            <img id="img-preview" data-testid="img-preview" class=" w-[150px] h-[150px] rounded-full" src="{{profileForm.get('profileUrl')?.value}}" referrerpolicy="no-referrer" alt="">
            <label class="w-[25px] absolute right-0 bottom-0" for="img-upload">
                <img class="w-[25px] absolute right-0 bottom-0 hover:cursor-pointer" src="../../../assets/svg/icons/pen-to-square-solid.svg" alt="edit-icon">
            </label>
            <!--TODO: Call show preview function after Amazon bucket it setup-->
            <input id="img-upload" data-testid="img-upload" type="file" accept="image/*"/> 
        </div>
        <!-- Form -->
        <form [formGroup]="profileForm" class="flex flex-col text-grey w-full md:max-w-md">
            <!--Username field-->
            <!--Check if username already exists-->
            <div class="flex flex-col h-[80px]"> 
                <label for="username">Username <small>*</small></label>
                <input class="pl-2 border-2 h-[35px] border-lightgrey rounded-sm w-full" type="text" formControlName="username">
                <small *ngIf="!profileForm.get('username')!.valid && profileForm.get('username')!.touched" class="text-red self-end pr-2">
                    must be at least 5 alphanumeric characters
                </small>
                <small *ngIf="profileForm.get('username')!.valid  && !usernameNotTaken" class="text-red self-end pr-2">
                    username is already taken
                </small>
            </div>
            <!--Fullname field-->
            <div class="flex flex-col h-[80px]"> 
                <label for="fullname">Full Name <small>*</small></label>
                <input class="border-2 h-[35px] border-lightgrey rounded-sm w-full" type="text" formControlName="fullName">
                <small *ngIf="!profileForm.get('fullName')!.valid && profileForm.get('fullName')!.touched" class="text-red self-end pr-2">
                    can contain only letters, spaces and hyphens
                </small>
            </div>
            <!--Location field-->
            <div class="flex flex-col h-[80px]"> 
                <label for="location">Office Location <small>*</small></label>
                <select class="border-2 h-[35px] border-lightgrey rounded-sm w-full" id="location" formControlName="officeLocation">
                    <option value="SONNIDOM_HOUSE">Sonnidom House</option>
                    <option value="ADVANTAGE_PLACE">Advantage Place</option>
                </select>
                <small *ngIf="!profileForm.get('officeLocation')!.valid" class="text-grey self-end pr-2">cannot be empty</small>
            </div>
            <!--Office Days-->
            <div class="flex flex-col h-[80px]"> 
                <label class="mb-1" for="fullname">Office Days <small>*</small></label>
                <fieldset formArrayName="officeDays" class="flex flex-row gap-2 justify-between items-center">
                    <span>
                        <input #mon (click)="toggleDaySelection(mon)" class="border-2 mr-1 border-lightgrey" type="checkbox" id="mon" value="MONDAY" 
                        [checked]="this.profileForm.get('officeDays')!.value.includes('MONDAY')">
                        <label for="mon">Mon</label>
                    </span>
                    <span>
                        <input #tue data-testid="tuesday" (click)="toggleDaySelection(tue)" class="border-2 mr-1 border-lightgrey" type="checkbox" id="tue" value="TUESDAY"
                        [checked]="this.profileForm.get('officeDays')!.value.includes('TUESDAY')">
                        <label for="tue">Tue</label>
                    </span>
                    <span>
                        <input #wed (click)="toggleDaySelection(wed)" class="border-2 mr-1 border-lightgrey " type="checkbox" id="wed" value="WEDNESDAY"
                        [checked]="this.profileForm.get('officeDays')!.value.includes('WEDNESDAY')">
                        <label for="wed">Wed</label>
                    </span>
                    <span>
                        <input #thu (click)="toggleDaySelection(thu)" class="border-2 mr-1 border-lightgrey rounded-sm" type="checkbox" id="thu" value="THURSDAY"
                        [checked]="this.profileForm.get('officeDays')!.value.includes('THURSDAY')">
                        <label for="thu">Thu</label>
                    </span>
                    <span>
                        <input #fri (click)="toggleDaySelection(fri)" class="border-2 mr-1 border-lightgrey rounded-sm" type="checkbox" id="fri" value="FRIDAY"
                        [checked]="this.profileForm.get('officeDays')!.value.includes('FRIDAY')">
                        <label for="fri">Fri</label>
                    </span>
                </fieldset>
                <small *ngIf="!profileForm.get('officeDays')!.valid" class="text-grey self-end pr-2">at least one day must be selected</small>
            </div>
            <button type="submit" (click)="saveProfile(profileForm)" class="bg-black w-full h-[35px] mt-6 text-white font-bold rounded-sm hover:bg-green hover:text-black md:max-w-md">Save</button>

        </form>
    </div>
</div>
