<app-navbar class="sticky top-0"></app-navbar>
<div class="flex flex-col items-center p-2 md:mx-auto md:mt-4">
    <h1 class="text-2xl font-bold p-2 bg-black text-white w-11/12 md:text-4xl md:max-w-md md:mb-4">Profile Details</h1>
    
    <!-- Image section -->
    <div class="image-upload w-[150px] h-[150px] rounded-full bg-lightgrey relative my-6">
        <img id="img-preview" class=" w-[150px] h-[150px] rounded-full" src="" alt="">
        <label class="w-[25px] absolute right-0 bottom-0" for="img-upload">
            <img class="w-[25px] absolute right-0 bottom-0 hover:cursor-pointer" src="../../../assets/svg/icons/pen-to-square-solid.svg" alt="edit-icon">
        </label>
        <input id="img-upload" type="file" accept="image/*" (change)="showPreview($event)"/>
    </div>

    <!-- Form -->
    <form #profileForm="ngForm" class="flex flex-col text-grey w-11/12 md:max-w-md">
        <!--Username field-->
        <!--Check if username already exists-->
        <div class="flex flex-col h-[80px]"> 
            <label for="username">Username <small>*</small></label>
            <input #username=ngModel [(ngModel)]="profile.username" pattern="[a-zA-Z0-9]*" minlength="4"
                class="pl-2 border-2 h-[35px] border-lightgrey rounded-sm w-full" type="text" 
                name="username"  placeholder="only alphabets and numbers" required>
            <small *ngIf="username.invalid && username.dirty" class="text-red self-end pr-2">must be at least 4 alphanumeric characters</small>
        </div>
        <!--Fullname field-->
        <div class="flex flex-col h-[80px]"> 
            <label for="fullname">Full Name <small>*</small></label>
            <input #fullName=ngModel [(ngModel)]="profile.fullName" pattern="[a-zA-Z\s\-]*"
                class="border-2 h-[35px] border-lightgrey rounded-sm w-full" type="text" 
                name="fullname" required>
            <small *ngIf="fullName.invalid && fullName.dirty" class="text-red self-end pr-2">can contain only letters, spaces and hyphens</small>
        </div>
        <!--Location field-->
        <div class="flex flex-col h-[80px]"> 
            <label for="location">Office Location <small>*</small></label>
            <select #location="ngModel" [(ngModel)]="profile.officeLocation" class="border-2 h-[35px] border-lightgrey rounded-sm w-full" 
                id="location" name="location" required>
                <option value="SONNIDOM_HOUSE">Sonnidom House</option>
                <option value="ADVANTAGE_PLACE">Advantage Place</option>
            </select>
            <small *ngIf="location.invalid" class="text-grey self-end pr-2">cannot be empty</small>

        </div>
        <!--Office Days-->
        <div class="flex flex-col h-[80px]"> 
            <label class="mb-1" for="fullname">Office Days <small>*</small></label>
            <fieldset class="flex flex-row gap-2 justify-between items-center">
                <span>
                    <input ngModel class="border-2 mr-1 border-lightgrey" type="checkbox" id="mon" value="MONDAY" name="mon">
                    <label for="mon">Mon</label>
                </span>
                <span>
                    <input ngModel class="border-2 mr-1 border-lightgrey" type="checkbox" id="tue" value="TUESDAY" name="tue">
                    <label for="tue">Tue</label>
                </span>
                <span>
                    <input ngModel class="border-2 mr-1 border-lightgrey " type="checkbox" id="wed" value="WEDNESDAY" name="wed">
                    <label for="wed">Wed</label>
                </span>
                <span>
                    <input ngModel class="border-2 mr-1 border-lightgrey rounded-sm" type="checkbox" id="thu" value="THURSDAY"
                        name="thu">
                    <label for="thu">Thu</label>
                </span>
                <span>
                    <input ngModel class="border-2 mr-1 border-lightgrey rounded-sm" type="checkbox" id="fri" value="FRIDAY"
                        name="fri">
                    <label for="fri">Fri</label>
                </span>
            </fieldset>
            <small *ngIf="!validateCheckboxes(profileForm.value)" class="text-grey self-end pr-2">at least one day must be selected</small>

        </div>
        <button type="submit" (click)="saveProfile(profileForm)" class="bg-black w-full h-[35px] mt-6 text-white font-bold rounded-sm hover:bg-green hover:text-black md:max-w-md">Save</button>

    </form>
</div>
