<div class="flex flex-col items-center p-2 md:mx-auto md:mt-4">
    <h1 class="text-2xl font-bold p-2 bg-black text-white w-11/12 md:text-4xl md:max-w-md md:mb-4">Profile Details</h1>
    <div class="image-upload w-[150px] h-[150px] rounded-full bg-lightgrey relative my-6">
        <img id="img-preview" class=" w-[150px] h-[150px] rounded-full" src="" alt="">
        <label class="w-[25px] absolute right-0 bottom-0" for="img-upload">
            <img class="w-[25px] absolute right-0 bottom-0 hover:cursor-pointer" src="../../../assets/svg/icons/pen-to-square-solid.svg" alt="edit-icon">
        </label>
        <input id="img-upload" type="file" accept="image/*" (change)="showPreview($event)"/>
    </div>
    <div class="flex flex-col text-grey w-11/12 md:max-w-md">
        <label for="username">Username</label>
        <input class="border-2 mb-4 h-[35px] border-lightgrey rounded-sm w-full" type="text" name="username">
        <label for="fullname">Full Name</label>
        <input class="border-2 mb-4 h-[35px] border-lightgrey rounded-sm w-full" type="text" name="fullname">
        <label for="location">Location</label>
        <select class="border-2 mb-4 h-[35px] border-lightgrey rounded-sm w-full" id="location" name="location">
            <option value="sonnidom-house">Sonnidom House</option>
            <option value="advantage-place">Advantage Place</option>
        </select>
        <label class="mb-1" for="fullname">Office Days</label>
        <div class="flex flex-row gap-2 justify-between items-center mb-4">
            <span>
                <input class="border-2 mr-1 border-lightgrey" type="checkbox" id="mon" value="mon" name="mon">
                <label for="mon">Mon</label>
            </span>
            <span>
                <input class="border-2 mr-1 border-lightgrey" type="checkbox" id="tue" value="tue" name="'tue">
                <label for="tue">Tue</label>
            </span>
            <span>
                <input class="border-2 mr-1 border-lightgrey " type="checkbox" id="wed" value="wed" name="wed">
                <label for="wed">Wed</label>
            </span>
            <span>
                <input class="border-2 mr-1 border-lightgrey rounded-sm" type="checkbox" id="thu" value="thu"
                    name="thu">
                <label for="thu">Thu</label>
            </span>
            <span>
                <input class="border-2 mr-1 border-lightgrey rounded-sm" type="checkbox" id="fri" value="fri"
                    name="fri">
                <label for="fri">Fri</label>
            </span>

        </div>

    </div>
    <button class="bg-black w-11/12 h-[35px] mt-6 text-white font-bold rounded-sm hover:bg-green hover:text-black md:max-w-md">Save</button>
</div>