<div class="flex flex-col px-3 sm:px-6 gap-4 mb-4">
  <!-- <div class="flex flex-col p-4 gap-4 sm:flex-row justify-between sm:p-12">      
    <h1 class="tracking-tighter text-2xl lg:text-4xl">Welcome !</h1>
    <app-secondary-button class="hidden sm:block" [disableButton]="false" [buttonText]="'List an item'"></app-secondary-button>
  </div> -->
  <!-- <ng-template #loading_welcome>
    <div class="flex flex-col p-4 gap-4 sm:flex-row justify-between sm:p-12 ">      
      <h1 class="text-2xl lg:text-4xl rounded-md bg-loading-grey text-loading-grey animate-pulse">Welcome, Dummy Name!</h1>
      <div class="hidden sm:block h-10 rounded-md bg-loading-grey w-32 animate-pulse"></div>
    </div>
  </ng-template> -->

  <div class="flex flex-col gap-2 mt-2 sm:gap-4 min-h-full w-full sm:mt-6">
    <!-- Heading -->
    <h1 class="tracking-tight text-xl font-medium">
        {{ auction && auction.item.itemName }}
    </h1>
    <!-- Images -->
    <div class="grid gap-2 sm:h-[500px] sm:grid-cols-3 sm:grid-rows-2">
      <img
        src="{{
          auction && auction.item.imageList[0].imageUrl
        }}"
        alt="Item image"
        class="aspect-square sm:h-full w-full sm:col-span-2 sm:row-span-2 object-cover rounded-lg"/>
      <img
        src="{{
          auction && auction.item.imageList[1].imageUrl
        }}"
        alt="Item image"
        class="hidden sm:block sm:h-full w-full sm:col-span-1 sm:row-span-1 object-fit rounded-lg"/>
      <img
        src="{{
          auction && auction.item.imageList[2].imageUrl
        }}"
        alt="Item image"
        class="hidden sm:block sm:h-full w-full sm:col-span-1 sm:row-span-1 object-cover rounded-lg"/>
    </div>
    <div class="my-2 sm:hidden">
      <app-secondary-button (click)="scroll(exchange)" [buttonText]="'View Exchange Details'"></app-secondary-button>
    </div>
    <!-- Details -->
    <div class="grid gap-2 sm:grid-cols-3 sm:mt-2">
      <div class="sm:col-span-2 p-2">
        <!-- Heading -->
        <div class="sm:py-2 border-b border-lightgrey">
          <h1 class="tracking-tight text-xl font-medium">
            {{ auction && auction.item.itemName }}
          </h1>
          <span class="pr-2">&#8226; Total Bids: {{bidCount}} </span>
          <span class="pr-2 sm:hidden">&#8226; Closed: {{auction.endDate | date : 'short'}}</span>
          <span class="hidden pr-2 sm:inline">&#8226; Closed: {{auction.endDate | date : 'medium'}}</span>
        </div>
        <!-- Key info -->
        <div class="py-2 border-b border-lightgrey mt-3 sm:mt-6">
          <div class="flex gap-4 items-start mb-3 sm:mb-6">
            <img class="h-12" src="https://img.icons8.com/dotty/80/null/money.png" alt="cash icon">
            <div class="">
              <h3 class="font-medium text-grey -mb-1">Winning Bid</h3>
              <span class="font-medium text-lg">&#8373; {{auction.currentHighestBid | currency : ' '}}</span>
            </div>
          </div>
          <div class="flex gap-4 items-start mb-3 sm:mb-6">
            <img class="h-12" src="https://img.icons8.com/pastel-glyph/64/null/name.png" alt="cash icon">
            <div class="">
              <h3 class="font-medium text-grey -mb-1">Sold To</h3>
              <span class="font-medium text">{{auction.winner != null ? auction.winner!.email : 'No winner'}}</span>
            </div>
          </div>
        </div>
        <!-- Other details -->
        <div class="py-2 border-b border-lightgrey">
          <h2 class="text-lg font-semibold mb-2">Details</h2>
          <div class="grid grid-cols-2">
            <p class="mb-2">
              <span class="font-medium">Item Category</span><br> 
              {{ auction && auction.item.category | lowercase | capitalizeFirstLetter }}
            </p>
            <p class="mb-2">
              <span class="font-medium">Starting Price</span><br> 
              {{ auction && auction.reservedPrice | currency : "GHS " }}
            </p>
            <p class="mb-2 col-span-2">
              <span class="font-medium">Item Description </span><br> 
              {{ auction && auction.item.description }}
            </p>
          </div>
        </div>
      </div>
      <!-- Exchange Info -->
      <div #exchange class="p-3 h-fit rounded-md shadow-md">
        <h2 class="text-lg font-semibold border-b border-lightgrey tracking-wide p-1 mb-3">Exchange Information</h2>
        <p class="mb-3 rounded-md text-grey bg-white" *ngIf="auction && auction.winner?.email === userEmail">Congratulations!!! You have won this auction. Kindly reach out to the seller via <strong>{{auction && auction.auctioneerEmail}}.</strong> 
          Click the item received button when you have successfully received the item</p>
        <p class="mb-3 rounded-md text-grey bg-white" *ngIf="auction && auction.auctioneerEmail === userEmail">
              Congratulations!!! Your item has been sold. Kindly reach out to the buyer via 
              <strong>{{auction && auction.winner!.email}}.</strong> 
              Click the item given button when you have successfully given the item to the buyer.
        </p>
        <!-- Buttons -->
        <app-primary-button class="text-white"  *ngIf="auction && auction.auctioneerEmail === userEmail"
          [buttonText]="'Item given'"
          ></app-primary-button>
        <app-primary-button class="text-white" *ngIf="auction && auction.winner?.email === userEmail"
          [buttonText]="'Item received'"
          ></app-primary-button>
      </div>
    </div>
  </div>
</div>
<lib-toastify-toast-container></lib-toastify-toast-container>
  