<div class="flex flex-col px-3 sm:px-6 gap-4 mb-4 max-w-[1400px] mx-auto">
  <small class="font-semibold text-grey">> Closed Auction</small>
  <div class="flex flex-col gap-2 sm:gap-4 min-h-full w-full -mt-2">
    <!-- Heading -->
    <h1 class="tracking-tight text-xl font-medium">
        {{ auction && auction.item.itemName }}
    </h1>
    <!-- Images -->
    <div *ngIf="auction && auction.item" class="flex h-80 gap-2 overflow-x-auto">
      <img *ngFor="let image of auction.item.imageList"
        src="{{
          auction && image.imageUrl
        }}"
        alt="Item image"
        class="aspect-square h-full object-cover rounded-lg"/>
      <div *ngIf="auction.item.imageList.length < 4" class="hidden lg:flex aspect-square h-full border border-dashed border-grey bg-lightgrey rounded-lg"></div>
    </div>
    <div *ngIf="auction" class="my-2 sm:hidden">
      <app-secondary-button (click)="scroll(exchange)" [buttonText]="auction.currentHighestBid ? 'Exchange Details' : 'Details'"></app-secondary-button>
    </div>
    <!-- Details -->
    <div class="grid gap-2 sm:grid-cols-3 sm:mt-2">
      <div class="sm:col-span-2 p-2">
        <!-- Heading -->
        <div *ngIf="auction" class="sm:py-2 border-b border-lightgrey">
          <h1 class="tracking-tight text-xl font-medium">
            {{ auction && auction.item.itemName }}
          </h1>
          <span class="pr-2">&#8226; Total Bids: {{bidCount}} </span>
          <span class="pr-2 sm:hidden">&#8226; Closed: {{auction.endDate | date : 'short'}}</span>
          <span class="hidden pr-2 sm:inline">&#8226; Closed: {{auction.endDate | date : 'medium'}}</span>
        </div>
        <!-- Key info -->
        <div *ngIf="auction" class="py-2 border-b border-lightgrey mt-3 sm:mt-6 lg:grid lg:grid-cols-2">
          <div class="flex gap-4 items-start mb-3 sm:mb-6">
            <img class="h-12" src="https://img.icons8.com/dotty/80/null/money.png" alt="cash icon">
            <div class="">
              <h3 class="font-medium text-grey -mb-1">Winning Bid</h3>
              <span *ngIf="auction.currentHighestBid" class="font-medium text-lg">&#8373; {{auction.currentHighestBid | currency : ' '}}</span>
              <span *ngIf="auction.currentHighestBid == null" class="font-medium">None</span>
            </div>
          </div>
          <div class="flex gap-4 items-start mb-3 sm:mb-6 lg:-ml-2">
            <img class="h-12" src="https://img.icons8.com/pastel-glyph/64/null/name.png" alt="cash icon">
            <div class="">
              <h3 class="font-medium text-grey -mb-1">Sold To</h3>
              <span class="font-medium">{{auction.winner != null ? auction.winner!.email : 'No winner'}}</span>
            </div>
          </div>
        </div>
        <!-- Other details -->
        <div *ngIf="auction && auction.item" class="py-2 border-b border-lightgrey">
          <h2 class="text-lg font-semibold mb-2">Details</h2>
          <div class="grid grid-cols-2">
            <p class="mb-2">
              <span class="font-medium">Item Category</span><br> 
              {{ auction && auction.item.category | lowercase | capitalizeFirstLetter }}
            </p>
            <p class="mb-2">
              <span class="font-medium">Starting Price</span><br> 
              {{ auction && auction.reservedPrice | currency : "GHS " }}
            </p>
            <p class="mb-2 col-span-2">
              <span class="font-medium">Item Description </span><br> 
              {{ auction && auction.item.description }}
            </p>
          </div>
        </div>
      </div>
      <!-- Exchange Info -->
      <div #exchange class="p-3 h-fit rounded-md shadow-md">
        <h2 *ngIf="auction && auction.currentHighestBid" class="text-lg font-semibold border-b border-lightgrey tracking-wide p-1 mb-3">Exchange Information</h2>
        <p class="mb-3 rounded-md text-grey bg-white" *ngIf="auction && auction.winner?.email === userEmail">Congratulations!!! You have won this auction. Kindly reach out to the seller via <strong>{{auction && auction.auctioneerEmail}}.</strong> 
          Click the item received button when you have successfully received the item</p>
        <p class="mb-3 rounded-md text-grey bg-white" *ngIf="auction && (auction.auctioneerEmail === userEmail && auction.currentHighestBid)">
              Congratulations!!! Your item has been sold. Kindly reach out to the buyer via 
              <strong>{{auction && auction.winner!.email}}.</strong> 
              Click the item given button when you have successfully given the item to the buyer.
        </p>
        <p *ngIf="auction && auction.currentHighestBid == null" class="mb-3 rounded-md text-grey bg-white">Sorry! Your auction closed without any bids.
           You can give your item a better chance by adjusting starting price, using clear photos and improving the item description.<br>
           You can <strong>view</strong> your item, <strong>edit</strong> it and put it on <strong>auction</strong> again.
        </p>
        <!-- Buttons -->
        <div class="flex flex-col gap-3">
          <app-primary-button *ngIf="auction && (auction.auctioneerEmail === userEmail && auction.currentHighestBid)"
          [buttonText]="'Item given'"
          ></app-primary-button>
        <app-primary-button class="text-white" *ngIf="auction && auction.winner?.email === userEmail"
          [buttonText]="'Item received'"
          ></app-primary-button>
        <app-primary-button routerLink="/dashboard/item-detail/{{auction.item.itemId}}" *ngIf="auction.currentHighestBid == null" [buttonText]="'View Item'"></app-primary-button>
        <!-- <app-danger-button *ngIf="auction.currentHighestBid == null" [buttonText]="'Delete Auction'"></app-danger-button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<lib-toastify-toast-container></lib-toastify-toast-container>
  