<app-navbar class="z-50"></app-navbar>

<div class="z-0 flex flex-col">
    <div class="mx-6 my-6">
        <div *ngIf="auctions && auctions.length === 0" class="sm:flex-row flex flex-col justify-center items-center">
            <img class="" src="../../../assets/images/no auctions.avif" alt="">
            <p class="text-grey"> There are currently <span class="text-xl font-semibold">no items on auction.</span></p>
        </div>
        
        <div class="grid grid-cols-1 justify-items-center gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6">
            <app-live-auction-card class="w-full transition transform hover:cursor-pointer hover:scale-[1.025] shadow-lg  " *ngFor="let auction of auctions" [liveAuction]="auction"></app-live-auction-card>
        </div>
    </div>
</div>

<lib-toastify-toast-container></lib-toastify-toast-container>
