
<div class="Selling-container p-8 relative w-full">
  <app-navbar class="absolute top-0 left-0 w-full"></app-navbar>
  <app-item-form class="absolute h-full backdrop-blur pt-8 top-0 left-0 right-0 mx-auto bg-transdark" (cancel)="hideAllForms()" (setToFalse)="hideItemForm($event)" *ngIf="showItemForm"></app-item-form>
  <app-auction-form class="absolute h-full backdrop-blur pt-8 top-0 left-0 right-0 mx-auto bg-transdark" (setToFalse)="hideAllForms()" *ngIf="showAuctionForm"></app-auction-form>

  <div class="heading-div flex gap-3 items-center mt-8 mb-2">
    <h1 class="text-3xl">Selling</h1>
    <img (click)="revealItemForm()"
      src="../../../assets/images/material-symbols_add-box.png"
      alt="add box icon"
      class="h-7 w-7"
    />
  </div>

  <div class="selling-summary w-full mb-4">
    <ul class="w-full flex justify-around bg-lightgrey h-24">
      <li class="flex flex-col items-center justify-center">
        <div class="number text-5xl">{{auctions.length}}</div>
        <div class="label">Active</div>
      </li>
      <li class="flex flex-col items-center justify-center">
        <div class="number text-5xl">0</div>
        <div class="label">Sold</div>
      </li>
      <li class="flex flex-col items-center justify-center">
        <div class="number text-5xl">0</div>
        <div class="label">Unsold</div>
      </li>
    </ul>
  </div>
  <div class="filter-dropdown flex justify-end">
    <select
      name="filter"
      id="filter"
      class="w-48 pl-3 border-2 border-lightgrey mb-12"
    >
      <option value="">Filters</option>
    </select>
  </div>

  <!-- <div
    class="items-container w-full grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-8 justify-items-center"
  >
    <div class="bg-lightgrey aspect-square w-3/4 md:w-full"></div>
    <div class="bg-lightgrey aspect-square w-3/4 md:w-full"></div>
    <div class="bg-lightgrey aspect-square w-3/4 md:w-full"></div>
    <div class="bg-lightgrey aspect-square w-3/4 md:w-full"></div>
  </div> -->

  <app-item-list class=""
    *ngIf="auctions.length !== 0"
    [title]="title"
    [auctions]="auctions"
  ></app-item-list>

  <p *ngIf="auctions.length === 0">There are currently no auction items</p>
</div>

  <!-- <app-item-list class=""
  *ngIf="allItems.length !== 0"
  [title]="'My Items'"
  [allItems]="allItems"
></app-item-list>

  <p *ngIf="auctions.length === 0">There are currently no auction items</p>
</div> -->
