
<div class="Selling-container flex flex-col gap-4 p-8 relative min-h-screen w-full">
  <app-navbar class="absolute top-0 left-0 w-full"></app-navbar>
  <app-item-form class="absolute z-30 h-full backdrop-blur pt-8 top-0 left-0 right-0 mx-auto bg-transdark" (cancel)="hideAllForms()" (setToFalse)="hideItemForm($event)" *ngIf="showItemForm"></app-item-form>
  <app-auction-form class="absolute z-30 h-full backdrop-blur pt-8 top-0 left-0 right-0 mx-auto bg-transdark" (setToFalse)="hideAllForms()" *ngIf="showAuctionForm"></app-auction-form>

  <div class="heading-div flex flex-col gap-3 mt-8 mb-2">
    <h1 class="text-3xl self-left font-bold">Selling</h1>
    <div class="w-full h-[150px] flex flex-col rounded-md justify-center p-4 bg-gradient-to-r from-violet to-blue">
      <h1 class="text-3xl font-semibold mb-4">Have a new item to sell?</h1>
      <app-button (click)="revealItemForm()" [buttonText]="'List an item'"></app-button>
    </div>
  </div>

  <!-- Tabs -->
  <div class="flex relative w-[220px] h-[40px] shadow-[inset_1px_2px_2px_0_rgba(0,0,0,0.25)] bg-lightgrey rounded-xl">
      <div (click)="activateAuctionsTab()" [ngClass]="showAuctions ? 'bg-black text-white' : ''" 
        class="flex absolute justify-center font-semibold items-center w-[120px] h-[40px] rounded-xl hover:cursor-pointer">
        Auctions</div>
      <div (click)="activateDraftsTab()" [ngClass]="showAuctions ? '' : 'bg-black text-white'" 
        class="absolute right-0 flex z-10 bg-neutral-200 justify-center font-semibold items-center w-[120px] h-[40px] rounded-xl hover:cursor-pointer">
        Drafts</div>
  </div>

  <!-- Definitely need to set a router here for child routes -->

  <app-auction-list
    *ngIf="auctions.length !== 0 && showAuctions"
    [title]="'My Auctions'"
    [auctions]="auctions"
    ></app-auction-list>
    <p *ngIf="auctions.length === 0">There are currently no items on auctions</p>


  <app-item-list class=""
    *ngIf="items.length !== 0 && !showAuctions"
    [title]="'My Drafts'"
    [items]="items"
  ></app-item-list>

  <p *ngIf="items.length === 0 && !showAuctions">There are currently no drafts</p>
</div>

  <!-- <app-item-list class=""
  *ngIf="allItems.length !== 0"
  [title]="'My Items'"
  [allItems]="allItems"
></app-item-list>

  <p *ngIf="auctions.length === 0">There are currently no auction items</p>
</div> -->
