<div>
  
    <button type="button" (click)="toggleDropdown()"  class= "inline-flex justify-center  rounded-lg border border-lightgrey border-1 focus:border-grey shadow-sm hover:shadow-lg px-4 py-3 bg-white text-sm  text-gray-700 hover:bg-gray-50 " id="filter-menu" aria-expanded="true" aria-haspopup="true">
      {{selectedOption}}
      
      <!-- <svg class="-mr-1 ml-2 h-5 w-5" xmlns="../../../assets/images/filter.png" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 16l-6-6h12l-6 6zm0-9l6 6H4l6-6z" clip-rule="evenodd" />
      </svg> -->
      <img class= "ml-2 mt-1" src="../../../assets/images/filter.png" alt="">
    </button>
    

      <div *ngIf="dropdownOpen"  class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
        <ul class="py-1">
          <li *ngFor="let option of options" (click)="selectOption(option)" class="hover:bg-lightgrey cursor-pointer flex items-center px-4 py-2">
            <img [src]="option.icon" class="w-5 h-5 mr-2" alt="{{ option.label }}">
            <span>{{ option.label }}</span>
          </li>
        </ul>
      </div>
     
    </div>